li {
    list-style: none;
}

h3 {
    align-items: center;
}
img {
    max-height: 250px;
    align-items: center;
justify-content: center;
padding: 20px;
} 

.row img  {
    align-items: center;
justify-content: center;
}

align-self-center container-fluid {
    align-items: center;
}
row {
    display: flex;
  flex-wrap: wrap;
  align-items: center;
justify-content: center;


}


.row > div {
    flex-basis: 30%; /* or - flex: 0 50% - or - flex-basis: 50% - */
    /*demo*/
 
    
  justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 3px;

  }

viewThree col-md {
      align-items: center;
      max-width: 70%;
  }

.about h3 {
    align-items: center;
}


 img {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 11px;

    box-shadow: 6px 6px 13px #d4d4d6, -6px -6px 13px #ffffff
}