@import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

body {
    text-align: center;
    font-family: 'Calibri', sans-serif !important;
    background-color: #e9eaeb
}

.social-buttons {
    margin-top: 10px;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.social-buttons button {
    margin: 10px
}



.neo-button:hover {
    width: 70px;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 11px;
    background: linear-gradient(145deg, #4da7db, #5bc6ff);
    box-shadow: inset 6px 6px 13px #489dcf, inset -6px -6px 13px #62d5ff
}

.neo-button .fa {
    color: rgb(213, 213, 219)
}

h3 {
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 11px;
    background: linear-gradient(145deg, #ebedee, #d7e1e6);
    box-shadow: inset 6px 6px 13px #e4e2e2, inset -6px -6px 13px #f3f5f5;
}